<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper.min-3.1.0.js"></script>
</head>    
<body class="color-bg-grey">
<div class="head">预约试驾</div>
<img class="headImg" src="images/headImg.jpg"/>
<form>
	<label class="formList">
		<select>
			<option>凯迪拉克 ADS-L</option>
		</select>
	</label>
	<label class="formList">
		<input type="text" placeholder="请输入姓名"/>
	</label>
	<div class="radioGroup">
		<label><input type="radio" checked name="sex"/>先生</label>
		<label><input type="radio" name="sex"/>女士</label>
	</div>
	<label class="formList">
		<input type="tel" placeholder="请输入手机号码"/>
	</label>
	<label class="checkBox">
		<input type="checkbox"/>我已阅读并同意<a href="javascript:;">隐私政策</a>
	</label>
	<input type="submit" class="submitBtn" value="预约试驾" />
</form>

</body>
</html>