<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper.min-3.1.0.js"></script>
</head>    
<body>
	<div class="activeDetail">
		<h2>最后三天！普尔车友会活动报名倒计时开启！</h2>
		<div class="detailTime">
			<span>2016-06-22</span>
			上海安吉名世凯迪拉克
		</div>
		<div class="detailContent">
			是的，这是一部全新的凯迪拉克。它用高效动力科技，以2.0L排量带来6.6秒百公里加速；用可以主动转向的后轮，让如此宽大的
			<img src="images/detail.jpg" />
			是的，这是一部全新的凯迪拉克。它用高效动力科技，以2.0L排量带来6.6秒百公里加速；用可以主动转向的后轮，让如此宽大的
			<div class="color-red">行程路线：</div>
			干吧都古筝--上礼盒马场骑乘体验--市区住宿--江郎山--弯腰赏桃花。
			<center>
				<div class="color-green">最后三天</div>
				赶快来报名吧！
				<div class="color-green">6.25-6.26</div>
				<div class="color-green">普尔车友会相约 安吉深溪龙王山二日游！</div>
				大石浪、皮筏漂流门、龙王山景区<br>
				通通等你来“临幸”<br>
				报名截止日期<br><br>
				<h3 class="color-green">6.24日下午5点</h3>
			</center>
			<img src="images/detail2.jpg" />
		</div>
		<div class="aGroup">
			<a href="javascript:;">
				<img src="images/join.png"/>
			</a>
			<a href="javascript:;">
				<img src="images/zhuanfa.png"/>
			</a>
		</div>
		<img src="images/footLogo.jpg" width="100%"/>
	</div>
	<div class="popWindow" style="display:none;" onclick="$(this).hide()">
		<span class="middleSpan"></span>
		<div class="middleContent">
			<h2>好可惜，你来晚了</h2>
			<h2>活动已经结束</h2>
			<div class="guanzhu">
				请关注XXXXXXX<br>快来参加其他活动
			</div>
			<img src="images/eym.png" class="ewm"/>
			<div class="guanzhu2">
				长按二维码关注
			</div>
			<h3>微信号:shbmw</h3>
		</div>
	</div>
	<div class="popWindow" onclick="$(this).hide()">
		<span class="middleSpan"></span>
		<div class="middleContent">
			<h1>提交成功</h1>
			<div class="share">好东西要与小伙伴分享哦</div>
		</div>
	</div>
</body>
</html>