<!DOCTYPE html>
<html>
<#import "common.html" as con />
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="${con.bathPath}css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="${con.bathPath}css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="${con.bathPath}css/style.css" rel="stylesheet" type="text/css">
    <link href="${con.bathPath}css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="${con.bathPath}css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="${con.bathPath}css/style.css" rel="stylesheet" type="text/css">
    <script src="${con.bathPath}js/jquery-1.11.1.min.js"></script>
    <script src="${con.bathPath}js/swiper.min-3.1.0.js"></script>    
    <script src="${con.bathPath}js/jquery-1.11.1.min.js"></script>
    <script src="${con.bathPath}js/swiper.min-3.1.0.js"></script>
</head>    
<body>
<div class="head">
	在线询价记录
	
</div>
<div id="ajaxMore">
<ul id="activities" >
	<#if queries??>
		<#list queries.results as list>
				<li>
					<div style="background-image: url(${con.bathPath}images/ren1.jpg);" class="bg-cover"></div>
					<div class="kfInfo">
						<div class="kfName">${list.salesStaff}</div>
						<div>售前经理</div>
						<div>电话  ${list.phone}</div>
					</div>
					<div class="r">
						<#assign telephone = "tel:" + list.phone>
						
						<a href=${(telephone)!} >在线联系</a> 
						<a href=${(telephone)!} >拨打电话</a> 	
					</div>
				</li>
		</#list>
	</#if>
</ul>
	<span id="more">加载更多</span>
</div>
<script>
	$(".activities").hover(function(){
		$(".sorts div").hide();
	});
	$(window).scroll(function(){
		$(".sorts div").hide();
	})
	var pageNo = 1;
	
	function getScrollTop() { 
		var scrollTop = 0; 
		if (document.documentElement && document.documentElement.scrollTop) { 
		scrollTop = document.documentElement.scrollTop; 
		} 
		else if (document.body) { 
		scrollTop = document.body.scrollTop; 
		} 
		return scrollTop; 
		} 

		//获取当前可是范围的高度 
	function getClientHeight() { 
		var clientHeight = 0; 
		if (document.body.clientHeight && document.documentElement.clientHeight) { 
		clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight); 
		} 
		else { 
		clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight); 
		} 
		return clientHeight; 
		} 

		//获取文档完整的高度 
	function getScrollHeight() { 
		return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight); 
		} 
	
	window.onscroll = function () { 
		if (getScrollTop() + getClientHeight() == getScrollHeight()) { 
		//	alert("到达底部"); 
		pageNo++;
		if(pageNo > ${(queries.pageCount)}) return;
			$.ajax({
	            type: "get",
	            contentType: "application/json",
	            url: "${con.bathPath}promotion/getPromotionPage?pageSize=1&pageNo="+pageNo,
	            data: "",
	            datatype: "json",
	            success: function (result) {
	          		if(result != null && result != "")
	                	$("#activities").append(result);
	          		else{
	          			$("#more").html("没有更多了");
	          		}
	            }
	        });		
		} 
		} 
	
	
</script>
</body>
</html>