<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper.min-3.1.0.js"></script>
</head>    
<body class="color-bg-grey">
<div class="head">车主俱乐部活动</div>
<ul class="activities">
	<li>
		<a href="javascript:;">
			<img src="images/test.jpg"/>
		</a>
		<a class="goodsImgInfo" href="javascript:;">
			凯迪拉克XT5售价35.99万起
			<span class="r">详情>>></span>
		</a>
		<div class="time">发布时间：2015-06-28</div>
	</li>
	<li>
		<a href="javascript:;">
			<img src="images/test.jpg"/>
		</a>
		<a class="goodsImgInfo" href="javascript:;">
			凯迪拉克XT5售价35.99万起
			<span class="r">详情>>></span>
		</a>
		<div class="time">发布时间：2015-06-28</div>
	</li>
	<li>
		<a href="javascript:;">
			<img src="images/test.jpg"/>
		</a>
		<a class="goodsImgInfo" href="javascript:;">
			凯迪拉克XT5售价35.99万起
			<span class="r">详情>>></span>
		</a>
		<div class="time">发布时间：2015-06-28</div>
	</li>
	<li>
		<a href="javascript:;">
			<img src="images/test.jpg"/>
		</a>
		<a class="goodsImgInfo" href="javascript:;">
			凯迪拉克XT5售价35.99万起
			<span class="r">详情>>></span>
		</a>
		<div class="time">发布时间：2015-06-28</div>
	</li>
	<li>
		<a href="javascript:;">
			<img src="images/test.jpg"/>
		</a>
		<a class="goodsImgInfo" href="javascript:;">
			凯迪拉克XT5售价35.99万起
			<span class="r">详情>>></span>
		</a>
		<div class="time">发布时间：2015-06-28</div>
	</li>
</ul>
<div class="ajaxMore">加载更多</div>
</body>
</html>