<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper.min-3.1.0.js"></script>
</head>    
<body class="color-bg-grey">
<div class="head">车主俱乐部活动</div>
<div class="swiper-container marginTopMore2">
  <div class="swiper-wrapper">
    <div style="background-image:url(images/swiper1.jpg);" class="swiper-slide"></div>
    <div style="background-image:url(images/swiper1.jpg);" class="swiper-slide"></div>
    <div style="background-image:url(images/swiper1.jpg);" class="swiper-slide"></div>
    <div style="background-image:url(images/swiper1.jpg);" class="swiper-slide"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="tgTitle">
	<h3>冬季骑车保养套组</h3>
	<div>项目内容：机油机滤、更换机油机滤‘原车导航升级’添加玻璃水‘空调杀菌除异味、全车门锁、荷叶轮滑、全车32项</div>
	<div class="l">市场价：<strong>985</strong></div>
	<div class="r">已售：3364件</div>
</div>
<script> 
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: 2000,//可选选项，自动滑动
		autoplayDisableOnInteraction : false,
		pagination : '.swiper-pagination',
	})
</script>
<div class="cf btnGroup">
	<a href="javascript:;" class="l tgNum">
		<div>298<span>/次</span></div>
		<div>8人团></div>
	</a>
	<a href="javascript:;" class="r tgNum">
		<div class="color-bg-yellow">498<span>/次</span></div>
		<div>单独购买></div>
	</a>
</div>
<a href="javscript:;" class="switch cf">
	拼购玩法
	<div class="r">查看详情</div>
</a>
<div class="personGroup">
	<div class="personGroupTitle">
		<span>阿满</span>
		发起了团购，已有
		<font>7</font>
		人参与
		<div>对于诸位大侠的相处，团长感激涕零</div>
	</div>
	<ul class="headList cf">
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/touxiang.png);"></li>
		<li class="bg-cover" style="background-image: url(images/add.png);">
			<a href="javascript:;"></a>
		</li>
	</ul>
</div>
<div class="detailAcvity">
	<div>活动详情：</div>
	过完十一，今年的假期只有等过年了，想想有点心塞，没关系双十一狂欢节，马上就到；钱不够花，别克关怀让你囊中钞票翻倍用，80抵用160，还有六选一礼品送：
	<img src="images/test.png"/>
	活动期间别克车主购买三次保养就变四次了
	<img src="images/test2.png"/>
</div>
<img src="images/footLogo.jpg" width="100%"/>
</body>
</html>