<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper.min-3.1.0.js"></script>
</head>    
<body>
<div class="head">潜客推荐</div>
<div class="record">
	<div class="recordNav cf">
		<a class="active" href="javascript:;">最新潜客筛选</a>
		<a href="javascript:;">未联系</a>
		<a href="javascript:;">已联系</a>
	</div>
	<ul class="recordList">
		<li>
			<div class="cf">
				<div class="recordCondation color-bg-green">潜客</div>
				<div class="l">
					<div>2016-6-23 16:21</div>
					<div>代用名 先生</div>
					<div>电话：138 8888 8888 </div>
					<div>车型：ATS-L</div>
				</div>
				<a class="r" href="javascript:;">拨打电话</a>
			</div>
			<div class="recordRadio">
				<div>当前状态：</div>
				<div>
					<label>
						<input checked type="radio" name="radio1" />未联系
					</label>
				</div>
				<div>
					<label>
						<input type="radio" name="radio1" />已联系
					</label>
				</div>
			</div>
		</li>
		<li>
			<div class="cf">
				<div class="recordCondation color-bg-green">潜客</div>
				<div class="l">
					<div>2016-6-23 16:21</div>
					<div>代用名 先生</div>
					<div>电话：138 8888 8888 </div>
					<div>车型：ATS-L</div>
				</div>
				<a class="r color-bg-grey" href="javascript:;">拨打电话</a>
			</div>
			<div class="recordRadio">
				<div>当前状态：</div>
				<div>
					<label>
						<input checked type="radio" name="radio2" />未联系
					</label>
				</div>
				<div>
					<label>
						<input type="radio" name="radio2" />已联系
					</label>
				</div>
			</div>
		</li>
		<li>
			<div class="cf">
				<div class="recordCondation color-bg-green">潜客</div>
				<div class="l">
					<div>2016-6-23 16:21</div>
					<div>代用名 先生</div>
					<div>电话：138 8888 8888 </div>
					<div>车型：ATS-L</div>
				</div>
				<a class="r color-bg-grey" href="javascript:;">拨打电话</a>
			</div>
			<div class="recordRadio">
				<div>当前状态：</div>
				<div>
					<label>
						<input checked type="radio" name="radio2" />未联系
					</label>
				</div>
				<div>
					<label>
						<input type="radio" name="radio2" />已联系
					</label>
				</div>
			</div>
		</li>
	</ul>
</div>
</body>
</html>