<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>凯迪拉克经销商</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="css/swiper-3.0.8.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper.min-3.1.0.js"></script>
</head>    
<body>
	<div class="head">在售车型</div>
	<ul class="carList">
		<li>
			<a href="javascript:;">
				<div class="bg-cover" style="background-image: url(images/car1.jpg);"></div>
				<div class="carContent">
					<div class="carTitle">ATS-L</div>
					<div class="font-small">官方指导价：</div>
					<div class="carPrice">￥298,800<span>起</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<div class="bg-cover" style="background-image: url(images/car2.jpg);"></div>
				<div class="carContent">
					<div class="carTitle">ATS-L</div>
					<div class="font-small">官方指导价：</div>
					<div class="carPrice">￥298,800<span>起</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<div class="bg-cover" style="background-image: url(images/car3.jpg);"></div>
				<div class="carContent">
					<div class="carTitle">ATS-L</div>
					<div class="font-small">官方指导价：</div>
					<div class="carPrice">￥298,800<span>起</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<div class="bg-cover" style="background-image: url(images/car4.jpg);"></div>
				<div class="carContent">
					<div class="carTitle">ATS-L</div>
					<div class="font-small">官方指导价：</div>
					<div class="carPrice">￥298,800<span>起</span></div>
				</div>
			</a>
		</li>
	</ul>
	<a href="javascript:;">
		<img class="goodsImg" src="images/test.jpg"/>
	</a>
	<a class="goodsImgInfo" href="javascript:;">
		凯迪拉克XT5售价35.99万起
		<span class="r">详情>>></span>
	</a>
	<a class="more" href="javascript:;">
		更多促销优惠&nbsp;&nbsp;点击这里
	</a>
</body>
</html>